/*----Mobie: width < 740px----*/
@media only screen and (max-width: 739px) {
    .logo-menu {
        justify-content: space-between;
        img {
            margin-left: 5px;
        }
        .menu {
            display: none;
        }

        #btn-menu {
            display: block;
            margin-right: 5px;
        }
    }

    /*---Header---*/
    .info__img img {
        height: 250px;
    }

    .header .info .info__text .editions-choice {
        width: 135%;
    }

    .header .info .info__text .editions-choice p {
        font-size: 12px;
    }

    .header .info .info__text h1 {
        font-size: 22px;
        line-height: 32px;
    }

    .header .info .info__text .Increase {
        font-size: 12px;
        line-height: 20px;
        width: 100%;
    }

    .header .info .info__text .try-for-free {
        margin-top: 70px;

        .button {
            padding: 12px 24px;
            font-size: 12px;
        }

        .Watch {
            display: none;
        }
    }



    
    /*---trusted---*/
    .trusted .logo img {
        width: 14%;
    }

    
    /*---features---*/
    .features #Vector {
        height: 230px;
    }

    .features h1 {
        font-size: 21px;
        line-height: 28px;
    }
    
    .features p {
        margin-top: 8px;
        font-size: 10px;
        line-height: 16px;
    }

    .features .list {
        margin-top: 8px;
    }

    .features .list .text h3 {
        font-size: 12px;
        line-height: 18px;
    }

    .features .list .text p {
        display: none;
    }

    .features .list #fast, #Prototyping, #vector {
        width: 20px;
        height: 20px;
    }

    .features .list #Prototyping {
        width: 20px;
        height: 20px;
    }

    .features .list #vector {
        width: 20px;
        height: 20px;
    }

    
    /*---smart---*/
    .smart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .smart__info {
            display: block;
            
            h1 {
                width: 100%;
                font-size: 20px;
                line-height: 27px;  
                border: none;
                text-align: center;
                
                span {
                    display: inline;
                }
            }

            p {
                width: 100%;
                margin: 0;
                margin-top: 8px;
                font-size: 12px;
                line-height: 24px;
                text-align: center;
            }
        }

        .smart__text {
            margin-top: 40px;
            flex-direction: column;


            .list {
                display: flex;


                #fast {
                    width: 30px;
                    height: 30px;
    
                    img {
                        width: 100%;
                    }
                }
                #Prototyping {
                    width: 30px;
                    height: 30px;
    
                    img {
                        width: 100%;
                    }
                }
                #vector {
                    width: 30px;
                    height: 30px;
    
                    img {
                        width: 100%;
                    }
                }

                .text {

                    p {
                        display: none;
                    }
                }
            }
        }
    }

    /*---designed---*/
    .designed {
        flex-direction: column;
    }

    .designed img {
        height: 250px;
    }

    .designed .text {
        width: 100%;
        margin-top: 12px;
    }

    .designed .text h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .designed .text p {
        margin-top: 13px;
        font-size: 12px;
        line-height: 26px;
        margin-bottom: 30px;
    }

    .designed .button {
        padding: 12px 24px;
    }

    
    
    /*---why---*/
    .why h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .why p {
        margin-top: 20px;
        font-size: 14px;
        line-height: 20px;
    }

    .why img {
        width: 50%;
    }

    .why .list {
        display: block;
        margin-top: 40px;

        .item {
            width: 100%;
            margin-bottom: 28px;
            
            h3 {
                margin: 0;
                font-size: 16px;
                line-height: 36px;
            }

            p {
                margin: 0;
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
    
    
    
    /*---ultimate---*/
    .ultimate {
        margin-top: 100px;
    }

    .ultimate h1 {
        font-size: 28px;
        line-height: 40px;
    }

    .ultimate p {
        font-size: 12px;
        line-height: 20px;
    }

    .ultimate #Phone {
        height: 250px;
    }

    .ultimate {
        .info {
            align-items: center;
            margin-top: 16px;
            .list {
                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 20px;
                    
                    img {
                        width: 50%;
                    }

                    #web-design {
                        width: 50px;
                        height: 50px;
                    }

                    #ui {
                        width: 50px;
                        height: 50px;
                    }

                    #computer {
                        width: 50px;
                        height: 50px;
                    }

                    #customer-service {
                        width: 50px;
                        height: 50px;
                    }

                    h3 {
                        margin: 0;
                        font-size: 10px;
                    }
                }
            }
        }

        .button {
            padding: 12px 24px;
            font-size: 12px;
        }
    }

    .ultimate .info .list .item p {
        display: none;
    }


    /*---get---*/
    .get {
        margin-top: 100px;
    }

    .get h1 {
        font-size: 20px;
        line-height: 28px;
    }

    .get p {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        margin-top: 20px;
    }

    .get .total {
        width: 110%;
        margin-top: 16px;
    }
    
    .get .total .Business-class .money h1 {
        font-size: 36px;    
    }

    .get .total .Pro-master .money h1 {
        font-size: 36px;
    }

    .get .total .Business-class .money p {
        font-size: 12px;
    } 

    .get .total .Pro-master .money p {
        font-size: 12px;
    }

    .get .total .Business-class .text p {
        font-size: 12px;
    }

    .get .total .Pro-master .text p {
        font-size: 12px;
    }

    .get .total .Business-class .button {
        padding: 12px 16px;
        font-size: 12px;
    }

    .get .total .Pro-master .button {
        padding: 12px 16px;
        font-size: 12px;
    }

    .get .total .Pro-master .or-start {
        font-size: 12px;
    }

    
    
    /*---meet---*/
    .meet {
        margin-top: 100px;
        flex-direction: column;

        #people {
            width: 100%;
            transform: translateX(0)
        }

        .text {
            margin-top: 16px;
        }
    }

    .meet .text h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .meet .text p {
        font-size: 12px;
        line-height: 26px;
        margin-top: 4px;
    }

    .meet .text img {
        margin-top: 16px;
    }

    .meet .text h4 {
        margin: 0px 0 0 0;
        font-size: 16px;
        line-height: 44px;
    }

    .meet .text .ceo .ceo__info img {
        margin: 0;
        width: 70px;
        height: 70px;
    }

    .meet .text .ceo .ceo__info .info {
        margin-left: 12px;
    }

    .meet .text .ceo .ceo__info .info h4 {
        margin: 0;
        font-size: 16px;
        line-height: 20px;
    }

    .meet .text .ceo .ceo__info .info p {
        font-size: 12px;
        line-height: 28px;
    }

    .meet .text .ceo .ceo__submit {
        width: 35px;
        height: 35px;
    }

    
    
    /*---Frequently---*/
    .Frequently {
        margin-top: 130px;
    }

    .Frequently h1 {
        font-size: 20px;
        line-height: 12px;
    }

    .Frequently p {
        font-size: 12px;
        line-height: 24px;
        width: 100%;
    }

    .Frequently .text {
        margin-top: 8px;
        width: 100%;
    }

    .Frequently .text .text__list .list_head h4 {
        font-size: 12px;
        line-height: 16px;
    }

    .Frequently .text .text__list p {
        font-size: 10px;
        line-height: 20px;
    }

    .Frequently .text .text__list .list_head i {
        font-size: 15px;
    }

    
    
    /*---dowload---*/
    .dowload {
        margin-top: 100px;
        flex-direction: column-reverse;
        align-items: center;

        #Vector {
            width: 100%;
        }
    }


    .dowload .text {
        width: 100%;
        
        h1 {
            font-size: 24px;
            text-align: center;
        }

        .app {
            display: flex;
            
            img {
                width: 100%;
            }
        }
    }

    .dowload .text p {
        font-size: 12px;
        line-height: 24px;
        margin-top: 8px;
        text-align: center;
    }

    
    
    /*---footer---*/
    .footer .menu {
        width: 80%;
        margin-top: 20px;
    }

    .footer .menu a {
        font-size: 10px;
        line-height: 10px;
    }

    .footer .logo {
        width: 44%;
    }

    .footer p {
        margin: 44px 0;
        font-size: 8px;
    }
}



/*----Table: width >= 740px <1024px----*/
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .logo-menu {
        justify-content: space-between;
        img {
            margin-left: 30px;
        }
        .menu {
            display: none;
        }

        #btn-menu {
            display: block;
            margin-right: 30px;
        }
    }

    /*---Header---*/
    .info__img img {
        height: 500px;
    }

    .header .info .info__text .editions-choice p {
        font-size: 14px;
    }

    .header .info .info__text h1 {
        font-size: 45px;
        line-height: 55px;
    }

    .header .info .info__text .Increase {
        font-size: 14px;
        line-height: 28px;
        width: 80%;
    }

    
    /*---trusted---*/
    .trusted .logo img {
        width: 14%;
    }

    
    /*---features---*/
    .features #Vector {
        height: 500px;
    }
    
    .features p {
        margin-top: 8px;
        font-size: 12px;
        line-height: 16px;
    }

    .features .list {
        margin-top: 24px;
    }

    .features .list .text p {
        display: none;
    }

    
    /*---smart---*/
    .smart .smart__info h1 {
        width: 50%;
        font-size: 30px;
    }

    .smart .smart__info p {
        font-size: 10px;
    }

    .smart .smart__text .list .text h3 {
        font-size: 16px;
    }

    .smart .smart__text .list .text p {
        font-size: 12px;
    }

    /*---designed---*/
    .designed img {
        height: 350px;
    }

    .designed .text h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .designed .text p {
        margin-top: 13px;
        font-size: 12px;
        line-height: 26px;
        margin-bottom: 50px;
    }

    .designed .button {
        padding: 12px 24px;
    }


    /*---ultimate---*/
    .ultimate #Phone {
        height: 450px;
    }

    .ultimate .info .list .item h3 {
        font-size: 14px;
    }

    .ultimate .info .list .item p {
        display: none;
    }


    /*---get---*/
    .get .total .Business-class .money h1 {
        font-size: 44px;
    }

    .get .total .Pro-master .money h1 {
        font-size: 44px;
    }

    .get .total .Business-class .money p {
        font-size: 12px;
    } 

    .get .total .Pro-master .money p {
        font-size: 12px;
    }

    .get .total .Business-class .text p {
        font-size: 15px;
    }

    .get .total .Pro-master .text p {
        font-size: 15px;
    }

    .get .total .Business-class .button {
        padding: 12px 24px;
    }

    .get .total .Pro-master .button {
        padding: 12px 24px;
    }

    .get .total .Pro-master .or-start {
        font-size: 14px;
    }

    
    
    /*---meet---*/
    .meet .text h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .meet .text p {
        font-size: 12px;
        line-height: 26px;
        margin-top: 4px;
    }

    .meet .text img {
        margin-top: 16px;
    }

    .meet .text h4 {
        margin: 0px 0 0 0;
        font-size: 16px;
        line-height: 44px;
    }

    .meet .text .ceo .ceo__info img {
        margin: 0;
        width: 70px;
        height: 70px;
    }

    .meet .text .ceo .ceo__info .info {
        margin-left: 12px;
    }

    .meet .text .ceo .ceo__info .info h4 {
        margin: 0;
        font-size: 16px;
        line-height: 20px;
    }

    .meet .text .ceo .ceo__info .info p {
        font-size: 12px;
        line-height: 28px;
    }

    .meet .text .ceo .ceo__submit {
        width: 35px;
        height: 35px;
    }

    
    
    /*---Frequently---*/
    .Frequently .text .text__list .list_head h4 {
        font-size: 16px;
    }

    .Frequently .text .text__list p {
        font-size: 12px;
    }

    
    
    /*---dowload---*/
    .dowload .text h1 {
        font-size: 32px;
    }

    .dowload .text p {
        font-size: 12px;
        line-height: 24px;
        margin-top: 12px;
    }

    
    
    /*---footer---*/
    .footer .menu {
        width: 80%;
    }

    .footer .logo {
        width: 36%;
    }

    .footer p {
        margin: 44px 0;
        font-size: 12px;
    }
}



/*----PC: width >= 1024px----*/
@media only screen and (min-width: 1024px) {
    .ultimate .info .list .item h3 {
        margin: 16px 0px 0px;
        font-size: 15px;
    }

    .features .list .text p {
        width: 80%;
    }
}
